<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061002773247-vbjlofh95kv0bhsnp8q3s2ojm3pk5n64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061002773247-vbjlofh95kv0bhsnp8q3s2ojm3pk5n64</string>
	<key>API_KEY</key>
	<string>AIzaSyDU8LryUvb0OddirmkeOH716y_P25TbKHE</string>
	<key>GCM_SENDER_ID</key>
	<string>1061002773247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomCloneFlutter</string>
	<key>PROJECT_ID</key>
	<string>zoom-clone08</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-clone08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061002773247:ios:64cb6fcbddefa204f482ca</string>
</dict>
</plist>